{% extends "AcmeRentacarBundle::base.html.twig" %}

{% block page_title '予約' %}
{% set menu = 'reservation' %}

{% block content %}
<form action="{{ path('reservation_new') }}" method="post">
  {{ form_errors(form) }}
  <fieldset>
    <legend>出着情報入力</legend>
    <div class="control-group">
      <label class="control-label">出発</label>
      <div class="controls">
        {{ form_widget(form.departureAt, {'attr': {'class': 'input-datetime'} }) }}
        {{ form_errors(form.departureLocation) }}
        {{ form_widget(form.departureLocation) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">返却</label>
      <div class="controls">
        {{ form_errors(form.returnAt) }}
        {{ form_widget(form.returnAt, {'attr': {'class': 'input-datetime'} }) }}
        {{ form_errors(form.returnLocation) }}
        {{ form_widget(form.returnLocation) }}
      </div>
    </div>
    {{ form_rest(form) }}
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="車種選択へ進む">
    </div>
  </fieldset>
</form>
{% endblock %}
