{% extends "AcmeRentacarBundle:Admin:base.html.twig" %}

{% block page_title '予約一覧' %}
{% set menu = 'reservation' %}

{% block content %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>予約者</th>
      <th>車種</th>
      <th>出発</th>
      <th>返却</th>
      <th>予約日時</th>
    </tr>
  </thead>
  <tbody>
    {% for reservation in pagination %}
      <tr>
        <td>
          <a href="{{ path('admin_reservation_show', {'id': reservation.id}) }}">{{ reservation.id }}</a>
        </td>
        <td>
          <a href="{{ path('admin_user_show', {'id': reservation.user.id}) }}">{{ reservation.user.name }}</a>
        </td>
        <td>
          {{ reservation.carClass }}クラス
        </td>
        <td>
          {{ reservation.departureLocation }}<br>
          {{ reservation.departureAt|date('Y/m/d H:i') }}
        </td>
        <td>
          {{ reservation.returnLocation }}<br>
          {{ reservation.returnAt|date('Y/m/d H:i') }}
        </td>
        <td>
          <a href="{{ path('admin_reservation_show', {'id': reservation.id}) }}">{{ reservation.createdAt|date('Y/m/d H:i') }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ pagination.render()|raw }}
{% endblock %}
